{
  # there are 2 setting + 3 npm packages here:
  # babel-eslint, eslint-config-airbnb, eslint-plugin-react (which is required by airbnb to install but no need setup here)
  # without this babel-eslint, some jsx will not be fixed airbnb automatcially.
  "parser": "babel-eslint",

  "plugins": [
      # "react"
  ],
  "extends": [
      # "eslint:recommended",
      # "plugin:react/recommended",
      "airbnb"
  ],

  "rules": {
      "react/prop-types": 0,
      "no-console":0,
      "no-param-reassign": 0,
      "no-underscore-dangle": 0,
      # https://stackoverflow.com/questions/37765144/eslint-warning-in-resolving-meteor-pseudo-globals
      # Unable to resolve path to module 'meteor/meteor'
      "import/no-unresolved": ["error", { "ignore": ["^meteor/", "^/"] }],
      "import/no-extraneous-dependencies": 0,  # meteor
      "import/extensions": ["off", "never"], # meteor,
      "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }] # jax syntac in js
  },
  "env": {
    "browser": true,
    "node": true,
  },
  "globals": {
    "document": true,
    "window": true,
    "Plotly": true,
  }
}
